body {
    background-color: black;
}

/* a.carousel-control-next {
    left: 18em;
}

a.carousel-control-prev {
    left: -3em;
}    */

/* span.carousel-control-prev-icon {
    background: black;
}

span.carousel-control-next-icon {
    background: black;
} */